# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized. Through various exercises, we will explore key data science languages, libraries, tools, and simple arithmetic operations using Python.

**Note**: The Excercise 1 is the creation of this Jupyter Notebook, Excercise 2 consist in making the Title and Excercise 3 is the previous introduction to this Jupyter Notebook.

## Exercise 4 - Create a markdown cell to list data science languages


Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL
4. Julia
5. Java

## Exercise 5 - Create a markdown cell to list data science libraries
Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. NumPy
3. Matplotlib
4. Scikit-learn
5. TensorFlow

## Exercise 6 - Create a markdown cell with a table of Data Science tools

| **Data Science Tools**     |
|----------------------------|
| Jupyter Notebook            |
| RStudio                     |
| Apache Zeppelin             |

## Exercise 7 - Create a markdown cell introducing arithmetic expression examples

Below are a few examples of evaluating arithmetic expressions in Python.

1. **Addition:** `5 + 3 = 8`
   
2. **Subtraction:** `10 - 4 = 6`
   
3. **Multiplication:** `3 * 7 = 21`
   
4. **Division:** `16 / 2 = 8`
   
5. **Exponentiation:** `2 ** 3 = 8`

6. **Parentheses and mixed operations:** `(3 * 4) + 5 = 17`

7. **Mixed operations with exponents and division:**  
   `2 ** 3 / 4 + 5 = 7.0`

8. **Parentheses with nested operations:**  
   `(5 + (3 * 4)) - 2 = 15`

9. **Exponentiation and square roots:**  
   `16 ** (1/2) = 4.0` (Square root of 16)

10. **Compound expression with multiple operations:**  
   `(3 * 4) + (5 ** 2) - (18 / 3) = 31.0`

## Exercise 8 - Create a code cell to multiply and add numbers

In [ ]:
# This is a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

## Exercise 9 - Create a code cell to convert minutes to hours

In [ ]:
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

## Exercise 10 - Insert a markdown cell to list Objectives

**Objectives:**

- List popular languages for Data Science
- Identify commonly used Data Science libraries
- Explore different open-source Data Science tools
- Perform basic arithmetic operations in Python
- Understand the process of converting units in Python (e.g., minutes to hours)

## Exercise 11 - Create a markdown cell to indicate the Author's name

Author's name is:


***Zayen Alejandra Mu√±oz Celis***